Fuente1='Lato', sans-serif
Fuente2= 'Oswald', sans-serif
color-primario= #333333
color-secundario= #8841DA
color-claro=#FFF

box()
	color: $color-primario
	box-shadow: 0px 20px 33px 0px rgba(0,0,0,0.20)

get-opacity(color, amount) 
	alpha(color, amount)


for header in 3 2 1
	h{header}
		font-size: 35px - (5*header)
		margin: 0

* 
	box-sizing: border-box

body 
	margin: 0
	font-family: Fuente1
